
:root{
  --primary-color:rgb(42, 69, 42);
  --secondary-color:rgb(33, 33, 33);
  --tertiary-color:rgb(145, 145, 145);
  --even-notes:rgb(255, 255, 116);
  --odd-notes:rgb(163, 230, 255);
  --text-color:rgb(240, 231, 231);
  --board-text-color:rgb(23, 23, 23);
  


}

body{
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  
}
.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  
}
h1,h2,h3,h4,h5,h6{
font-family: 'Montserrat', sans-serif;
text-align: center;
}